<div class="text-center">
  <h1>Mis Servicios</h1>

  <table class="table table-warning">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Servicio</th>
        <th>Precio Por Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let svc of lstStreaming; index as i">
        <td>{{ i + 1 }}</td>
        <td>SVC{{ svc.servicioId }}</td>
        <td>{{ svc.servicioName }}</td>
        <td>$ {{ svc.servicioPriceU }}</td>
      </tr>
    </tbody>
  </table>
</div>
