<div class="text-center">
  <h1>Mis Pagos</h1>

  <mat-form-field>
    <mat-label>Status:</mat-label>
    <mat-select matInput [(ngModel)]="idStatus">
      <mat-option *ngFor="let sts of lstStatus">
        {{ sts.nombreStatus }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <table class="table table-success">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Precio</th>
        <th>Status</th>
        <th>Mensualidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pay of lstPayments; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ pay.idPago }}</td>
        <td>$ {{ pay.precioPago }}</td>
        <td>{{ pay.nombreStatus }}</td>
        <td>{{ pay.nombreMensualidad }}</td>
      </tr>
    </tbody>
  </table>
</div>
