<div class="text-center">
  <mat-card>
    <mat-card-title>Identificate</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input type="text" [(ngModel)]="dateofbird" matInput placeholder="AAAA-MM-DD">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" [(ngModel)]="telephone" matInput placeholder="Telefono">
        </mat-form-field>
      </p>

      <div>
        <button mat-raised-button color="accent" (click)="login()">Vamos</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
